*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    display: block;
    position: relative;
    width: 100%;
}
.body aside{
    float: left;
    display: block;
    clear: both;
    width: 20%;
}
.body section{
    float: right;
    width: 80%;
    padding: 10px;
    display: block;
}